body {
    background-color: lightgray;
  }
  header {
    text-align: left;
    padding:70px;
    color: burlywood;
    background: blue;
    font-size:20px;
    border: 20px

  }

  .project {
    padding: 45px;
    color:aqua;
    width: 50%;
    height: 200px;
    background-color: black;
    flex-wrap: wrap;
  }

  footer {
      padding: 10px;
      color: burlywood;
      font-size: 12px;
      background: blue;
      height: 100%;
      width: 40px;
  }
  nav {
    background-color: black;
  
  }
  .links {
    float: center;
    display: block;
    height: 100%;
    width: 40px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    width: 5px;
    flex-wrap: wrap;
    float: center;
  }

  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }