body {
    background-color: lightgray;
  }
  header {
    text-align: left;
    padding:70px;
    color: burlywood;
    background: blue;
    font-size:20px;
    border: 20px

  }

  .project {
    padding: 45px;
    color:aqua;
    width: 50%;
    height: 200px;
    background-color: black;
    flex-wrap: wrap;
  }

  footer {
      padding: 10px;
      color: burlywood;
      font-size: 12px;
      background: blue;
      height: 100%;
      width: 40px;
  }
  nav {
    background-color: rgb(100, 100, 205);
    text-shadow: 2px 2px;
  }

  ul {
    margin-top: 20px;
    width: auto;
    
  }

  li {
    display: inline-block;
    padding: 10px 10px;
  }

  a {
    text-align: left;
    color: purple;
    font-size: 30px;
    font-family: ;
  }