body {
    background-color: lightgray;
  }
  header {
    text-align: left;
    padding:70px;
    color: burlywood;
    background: blue;
    font-size:20px;
    border: 20px

  }

  .project {
    padding: 45px;
    color:aqua;
    width: 50%;
    height: 200px;
    background-color: black;
    flex-wrap: wrap;
  }

  footer {
      padding: 10px;
      color: burlywood;
      font-size: 12px;
      background: blue;
      
  }